PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nexus_db
REDIS_URL=redis://localhost:6379
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

MIDTRANS_SERVER_KEY=SB-Mid-server-YOUR_MIDTRANS_SERVER_KEY
MIDTRANS_CLIENT_KEY=SB-Mid-client-YOUR_MIDTRANS_CLIENT_KEY
MIDTRANS_IS_PRODUCTION=false


FRONTEND_URL=http://localhost:5173
UPLOAD_DIR=./uploads
